#root {
  max-width: 1280px;
  padding: 0;
  text-align: center;
}

body {
	background-color: #DDECFF;
}

h1 {
	color: #000000;
}

p {
	color: #000000;
}

/* Tabs container */
.MuiTabs-root {
  background-color: #FFFFFF;
  border-radius: 9999px;
}

/* Each Tab */
.MuiTab-root {
  text-transform: none !important;
  border-radius: 9999px;
}

/* Selected Tab */
.MuiTab-root.Mui-selected {
  background-color: #E0E2E5 !important;
  font-weight: bold;
  border-radius: 9999px;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: #000000 !important;
}

/* Remove the default bottom indicator line */
.MuiTabs-indicator {
  display: none;
  border: none;
}
