.pageContainer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  align-items: stretch;
  background: #ffffff;
  width: 95%;
  border-radius: 10px;
  color: #000000;
  font-weight: bold;
  flex-direction: column;
  padding: 1rem 2rem;
  margin-top: 20px;
}

/* Make sure the fieldset doesn’t expand to 100% */
.fieldset {
  border: none;
  width: auto; /* shrink to fit content */
}

/* Form width */
.form {
  display: flex;
  flex-direction: column;
  max-width: 9999px; /* actual width that will be centered */
  align-items: stretch;
  width: 100%;
}

.title {
  padding: 0px 1rem;
  font-size: 1.5rem;
}

.para {
  padding-left: 0.8rem;
}

.shortinput {
  border: none;
  background-color: #d9d9d9;
  border-radius: 5px;
  font-size: 0.8rem;
  width: 100%;
  height: 20px;
  color: #000000;
}

.input {
  border: none;
  background-color: #d9d9d9;
  color: #000000;
  border-radius: 5px;
  height: 100px;
  resize: vertical;
  width: 100%;
}

.button {
  border: none;
  background-color: #d9d9d9;
  width: fit-content;
  padding-top: 0.3rem;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  transition: 0.2s ease-in-out;
  text-align: center;
  color: #000000;
  font-weight: bold;
  margin-top: 5px auto 0 auto;
}

.button:hover {
  background: #808080;
}

.buttonRow {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 5px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
