.pageContainer {
  display: flex;
  align-items: stretch;
  background: #FFFFFF;
  width: 95%;
  border-radius: 2%;
  padding: 2rem;
  color: #000000;
  font-weight: bold;
  flex-direction: column;
  padding: 1rem 2rem;
  margin-top: 20px;
}

/* Make sure the fieldset doesn’t expand to 100% */
.fieldset {
  border: none;
  width: auto;  /* shrink to fit content */
}

/* Form width */
.form {
  display: flex;
  flex-direction: column;
  max-width: 9999px; /* actual width that will be centered */
  align-items: stretch;
  width: 100%;
}

.title {
  padding: 0px 1rem;
  font-size: 1.5rem;
}

.para {
  padding: 0px 0.8rem;
}

.shortinput {
  border: none;
  background-color: #d9d9d9;
  border-radius: 5px;
  font-size: 0.8rem;
  width: 100%;
  height: 20px;
  color: #000000;
}

.input {
  border: none;
  background-color: #d9d9d9;
  color: #000000;
  border-radius: 5px;
  height: 500px;
  resize: vertical;
  width: 100%;
}

.button {
  border: none;
  background-color: #d9d9d9;
  width: 50px;
  padding: 0.3rem 0.2rem;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  transition: background 0.2s ease-in-out;
  text-align: center;
  color: #000000;
  font-weight: bold;
}

.button:hover {
  background: #808080;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
